body {
    background-color: black;
  
}

.lucky {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh; 
   
}

#button {
   margin: 0 15px ;
   /*position:fixed;
    bottom: 20px;*/
    display: flex;
    justify-content: center;
    background-color: #00ccff;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    animation: float 5s infinite;

  }
 
 @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .button1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }



